- content_for :bigtext, "Информация о профиле"
- content_for :smalltext, "Дата создания профиля: #{@user.created_at.to_s}"
.container
  %h1
    = gravatar_for(@user)
    = @user.name + " " + @user.lastname
  %h4
    = @user.email
  %h5
    = link_to "Выйти из аккаунта", logout_path, method: :delete