- content_for :bigtext, "Информация о профиле"
- content_for :smalltext, "Дата создания профиля: #{@user.created_at.to_s}"
.container
  %h1
    = gravatar_for(@user)
    = @user.name + " " + @user.lastname
  %h4
    = @user.email
  .user-block
    %h4.bg-primary
      %strong
        Вишлист пользователя
    = render @user.wishbooks