.gallery-column
  .gallery-block
    - if book.image?
      = image_tag book.image.url(:book_image_size), style: "width: 100%;"
    -else
      = image_tag "Noimage.png"
    .gallery-content
      %h5
        = link_to book.name, book_path(book)
      %p
        - if book.info.nil?
          = book.author
        - else
          = book.info
    %span.badge.badge-warning{style: "position: absolute; top: 8px; left: 8px;"}
      = book.rating.nil? ? "Нет рейтинга" : book.rating.round(1) 
    %span.badge.badge-warning{style: "position: absolute; top: 8px; right: 8px;"}
      = "От " + book.start_age.round(0).to_s + " до " + book.finish_age.round(0).to_s  