%li.portfolio-item2{"data-id": "id-0", "data-type": "web"}
  .span4
    .thumbnail
      .image-wrapp
        - if book.image?
          = image_tag book.image.url
        -else
          = image_tag "Noimage.png"
      .caption
        %h6
          %a
            = link_to book.name, book_path(book)
        %p
          - if book.info.nil?
            = book.author
          - else
            = book.info[0..60] + "..."
