- provide :title, "О проекте"
- content_for :bigtext, "О проекте"
- content_for :smalltext, "Почему решили создать и кто мы такие?"

.container
  .row
    .col-sm-4
      = image_tag "2018-07-09 09.00.58.jpg", class: "img-thumbnail"
    .col-sm-8
      Привет. Меня зовут Сикорский Василий. У меня двое детей. Одному три года, а другой совсем маленький. Я всю жизнь работаю в сфере образования, также увлекаюсь программированием. В результатет этого появился данный сайт, исключительно под личные цели и интересы. Собственно причин появления три:
      %ul
        %li
          Мне очень нравятся детские книги. Я ооочень много читал, когда был маленький сам. И хочу, чтобы мои дети читали не меньше, а то и больше. Сейчас получаю огромное удовольствие от взаимодействия с детскими книгами, чтения с ребенком, выбора, оценки их.
        %li
          Детские книги не тривиально выбирать. У них помимо одного показателя "содержание", как во взрослых книгах, есть еще иллюстратор, переводчик, шрифт, формат, восприятие ребенком и много всего. В какой-то момент я столкнулся с этой "проблемой" и понял, что мне не так просто ее решить. Поэтому одной из важных задач этого сайта будет оценка и выбор детских книг по различным параметрам. Родителям должно быть достаточно легко зайти и найти хорошие книги для своих детей.
        %li
          Я хочу, чтобы детям дарили хорошие книги. Чтобы у друзей и родственников, не понимающих, какие у нас книги есть, какие бы мы хотели, какие хорошие, а какие не очень, была бы простая возможность сделать правильный выбор подарка. Таким образом, дома будут появляться только желанные и хорошие книги.
      %p
        Меня очень вдохновляют такие сайты, как
        = link_to "Папмамбук", "http://www.papmambook.ru/", target: "_blank"
        ,
        = link_to "Мама-зануда", "http://mamazanuda.ru/", target: "_blank"
        ,
        = link_to "Маленький читатель", 'http://littlereader.ru/', target: "_blank"
        = ". Ну, и конечно во многом примером является сайт "
        = link_to "GoodReads", "https://goodreads.com/", target: "_blank"
  .row
    %h6{style: "margin-top: 10px;"}
      С любыми идеями, пожеланиями и вопросами можно обращаться на vasiliy.sikorskiy@gmail.com
