- provide :title, "Список книг"
- content_for :bigtext, "Весь список книг"
- content_for :smalltext, "Список книг постоянно растет и обновляется. Будем рады вашей помощи"
.container
  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-sm
        %tr
          %th
            Название книги
          %th
            Автор
          %th
            Иллюстратор
          %th
            Переводчик
          %th
            Год создания
          %th
            Издательство
          %th
            Редактировать
        - @books.each do |b|
          %tr
            %td
              = link_to b.name, book_path(b)
            %td
              = b.author_name
            %td
              = b.illustrator
            %td
              = b.translator
            %td
              = b.creation_year
            %td
              = b.publishing_house
            %td
              %span.glyphicon.glyphicon-pencil
              = link_to "Правка", edit_book_path(b)
      = link_to "Создать новую книгу", new_book_path





