- content_for :bigtext, @book.name
- content_for :smalltext, @book.author
- params[:book_id] = @book.id
.container
  .row
    .span4
      .aside
        %h4.heading-success
          = @book.name
        - if @book.image?
          = image_tag @book.image.url
        - else
          = image_tag "Noimage.png"
        %h5.heading-success
          ="&nbsp;".html_safe
        %ul.unstyled
          %li
            %strong
              Автор:
            = @book.author
          %li
            %strong
              Иллюстратор:
            = @book.illustrator
          %li
            %strong
              Переводчик:
            = @book.translator
          %li
            %strong
              Издательство:
            = @book.publishing_house
          %li
            %strong
              Год написания книги:
            = @book.creation_year
          %li
            %strong
              Иллюстрации:
            %span.avg-review-rating{"data-score": "#{@average_illustrator_rating}"}
          %li
            %strong
              Содержание:
            %span.avg-review-rating{"data-score": "#{@average_content_rating}"}
          %li
            %strong
              Общее впечатление:
            %span.avg-review-rating{"data-score": "#{@average_general_rating}"}
          %li
            %strong
              - if logged_in?
                - if @book.wishbooks.find_by(user_id: current_user.id).nil?
                  = link_to "Добавить в вишлист", book_wishbooks_path(@book), method: :post
                  = image_tag "empty_heart.png", style: "height: 20px;"
                - else
                  = link_to "Убрать из вишлиста", book_wishbook_path(@book, @book.wishbooks.find_by(user_id: current_user.id)), method: :delete
                  = image_tag "filled_heart.png", style: "height: 20px;"
              - else
                Войдите, чтобы добавить книгу в список желаний
    .span7.offset1
      %article.blog-post
      %p
        = @book.info
      = render @book.reviews
      = link_to "Новый отзыв", new_book_review_path(@book), class: "btn btn-lg btn-success"

  .row
    .span12
      = link_to "Все книги", books_path

:javascript
  $('.avg-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: ''
  });

