- content_for :bigtext, "Рейтинг книги" + " \"#{@book.name}\", " + @book.author
- content_for :smalltext, "Отзывы про \"#{@book.name}\": качество иллюстраций, содержания и общее впечатление"
- params[:book_id] = @book.id
.container
  .row
    .col-sm-4
      .book-block
        - if @book.image?
          = image_tag @book.image.url(:book_image_size), class: "book-image"
        - else
          = image_tag "Noimage.png", class: "book-image"
        %ul.list-unstyled
          %li
            %strong
              Название:
            = @book.name
          %li
            %strong
              Автор:
            = @book.author
          %li
            %strong
              Иллюстратор:
            = @book.illustrator
          %li
            %strong
              Переводчик:
            = @book.translator
          %li
            %strong
              Издательство:
            = @book.publishing_house
          %li
            %strong
              Год написания книги:
            = @book.creation_year
          %li
            %strong
              Иллюстрации:
            %span.avg-review-rating{"data-score": "#{@average_illustrator_rating}"}
          %li
            %strong
              Содержание:
            %span.avg-review-rating{"data-score": "#{@average_content_rating}"}
          %li
            %strong
              Общее впечатление:
            %span.avg-review-rating{"data-score": "#{@average_general_rating}"}
          %li
            %strong
              - if logged_in?
                - if @book.wishbooks.find_by(user_id: current_user.id).nil?
                  = link_to "Добавить в вишлист", book_wishbooks_path(@book), method: :post
                  = image_tag "empty_heart.png", style: "height: 20px;"
                - else
                  = link_to "Убрать из вишлиста", book_wishbook_path(@book, @book.wishbooks.find_by(user_id: current_user.id)), method: :delete
                  = image_tag "filled_heart.png", style: "height: 20px;"
              - else
                Войдите, чтобы добавить книгу в список желаний
    .col-sm-8
      %p
        = @book.info.html_safe
      = render @book.reviews
      .row
        .col-sm-12
          = link_to "Новый отзыв", new_book_review_path(@book), class: "btn btn-sm btn-success review-button"

  .row
    .span12
      = link_to "Все книги", books_path

:javascript
  $('.avg-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: ''
  });

