- content_for :bigtext, "Редактирование отзыва"
- content_for :smalltext, "Спасибо вам за отзывы о книгах!"

.container
  .row
    .col-sm-12
      = simple_form_for([@book, @review]) do |f|
        = f.input :content, label: "Текст отзыва", input_html: {rows: "7", class: "input-block-level"}
        = get_all_ratings
        = f.button :submit, "Редактировать отзыв", class: "btn btn-medium btn-success", style: "margin-top: 10px;"

= render partial: "layouts/star_script"