.container
  .comment-post
    %h4
      Оставить отзыв
    .row
      .col-sm-12
        - if logged_in?
          = simple_form_for([@book, @book.reviews.build]) do |f|
            = f.input :content, label: "Текст отзыва", input_html: {rows: "9", class: "input-block-level"}
            = get_all_ratings
            = f.button :submit, "Написать отзыв", class: "btn btn-medium btn-success", style: "margin-top: 10px;"
        - else
          %p
            Только зарегистрированные пользователи могут оставлять отзывы на книги

= render partial: "layouts/star_script"
