.container-fluid
  .row
    .col-sm-12
      .pagination.flex-row-reverse
        = paginate @books
  .row
    .col-md-3
      %h5.text-center
        Выбор книг по возрасту и рейтингу
      = form_tag root_path, method: :get do
        .form-group
          = label_tag "Возраст"
          = text_field_tag :age, params[:age], class: "form-control form-control-sm"
          %small{class: "form-text text-muted"}
            Возраст указывается в годах (например, 1 или 3.5)
        .form-group
          = label_tag "Рейтинг"
          = text_field_tag :rating, params[:rating], class: "form-control form-control-sm"
          %small{class: "form-text text-muted"}
            Показываются все книжки с рейтингом выше указанного
        = submit_tag "Найти книги", name: nil, class: "btn btn-primary btn-sm"
    .col-md-9.gallery
      = render @books
  .row-fluid
    .pagination.pagination-left
      = paginate @books

