%section#maincontent
  .container
    .row-fluid
      .span12
        .btn-group.filter-category
          %a.btn.btn-success
            Выберите категорию
          %a.btn.btn-success.dropdown-toggle{"data-toggle": "dropdown"}
            %span.caret
          %ul.dropdown-menu.filter
            %li.all.active
              %a{"data-toggle": "tab"} Все категории
            %li.web
              %a{"data-toggle": "tab"} 1-2 года
            %li.brand
              %a{"data-toggle": "tab"} 2-3 года
        .pagination.pagination-right
          %ul
            %li
              %a Prev
            %li
              %a 1
            %li.active
              %a 2
            %li
              %a 3
            %li
              %a 4
            %li
              %a Next
    .row
      .portfolio-area.da-thumbs
        - @books.each do |b|
          %li.portfolio-item2{"data-id": "id-0", "data-type": "web"}
            .span3
              .thumbnail
                .image-wrapp
                  - if b.image?
                    = image_tag b.image.url
                  -else
                    = image_tag "Noimage.png"
                .caption
                  %h5
                    %a
                      = link_to b.name, book_path(b)
                  %p
                    - if b.info.nil?
                      = ENV['AWS_ACCESS_KEY_ID']
                    - else
                      = ENV['AWS_ACCESS_KEY_ID']
