%header
  .navbar.navbar-fixed-top.navbar-expand-sm
    .navbar-inner
      .container-fluid
        = link_to image_tag("img/logo_middle.png"), root_path, class: "brand logo"
        %div
          %nav
            %ul.nav.topnav
              %li.success
                = link_to "Главная страница", root_path
              %li.primary
                %a Wishlist
              %li.danger
                = link_to "Все книги", books_path
              %li.warning
                = link_to "Новая книга", new_book_path
              %li.info
                = link_to "О проекте", about_path
              %li.inverse
                - if logged_in?
                  = link_to current_user.name, user_path(current_user)
                - else
                  = link_to "Вход", login_path
