%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to image_tag("img/logo_middle.png"), root_path, class: "brand logo"
        %div
          %nav
            %ul.nav.topnav
              %li.success
                = link_to "Главная страница", root_path
              %li.primary
                %a Wishlist
              %li.danger
                = link_to "Все книги", books_path
              %li.warning.active
                = link_to "Новая книга", new_book_path
              %li.info
                %a В разработке
              %li.inverse
                = link_to "О проекте", about_path
